**/.pio
**/.piopm
**/.vscode
**/.DS_store
**/Cargo.lock
**/__pycache__
**/.catkin_tools

data/*
buffpy/lib/*
buffpy/build/*
buffpy/models/*
buffpy/bin/tycmd
src/buff_rust/target
buffpy/bin/firmware.hex
buffpy/config/sensitive/*
