logs
data/*
devel
build
install
*/.DS_store
buffpy/lib/*
*/devel_collision.txt
buffpy/bin/teensy
buffpy/bin/__pycache__
dev/.ipynb_checkpoints
buffpy/bin/libpng12.so.0
buffpy/config/sensitive/*
buffpy/bin/libusb-0.1.so.4