**/.pio
**/.idea
**/.piopm
**/.vscode
**/.DS_store
**/Cargo.lock
**/__pycache__
**/.catkin_tools


data/*
buffpy/lib/*
documentation
buffpy/bin/tycmd
buffpy/data/models/*
src/buff_rust/target/*
buffpy/bin/firmware.hex
buffpy/config/sensitive/*
src/efficientdet-d0-trainer/*
