<launch>

	<arg name="det_model" default="mds_detector.py"/>
	<arg name="det_config" default="mds_hsv_red"/>

	<node name="buffvision" pkg="buffpy" type="buffvision.py" respawn="false" output="screen"/>

	<node name="detector" pkg="buffpy" type="$(arg det_model)" 
		respawn="false" output="screen"
		args="$(arg det_config)"/>

</launch>