[Unit]
Description=CU Robotics Startup Service
ConditionPathExists=/home/cu-robotics/buff-code/buffpy
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
Restart=always
User=cu-robotics
ExecStart=/bin/sh -c '/home/cu-robotics/buff-code/startup.sh'

[Install]
WantedBy=multi-user.target
